#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.bubble {
    position: absolute;
    display: grid;
    place-items: center;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background-color: var(--primary);
}
