body {
    overflow: hidden;
}

#container {
    flex-grow: 1;
    overflow: hidden;
}

.bubble {
    cursor: pointer;
    position: absolute;
    display: grid;
    place-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--primary);
}

.bubble.expanded {
    z-index: 10;
    cursor: unset;
    width: auto;
    height: auto;
    padding: 0.75rem;
    border-radius: 0;
}
