@import url("/styles/fonts.css");

/* Global variables */
:root {
    /* General variables */
    --background: #111;
    --primary: #f52222;
    --accent: #fff;
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--accent);
    font-family: "LT Soul";
}

/* Components */
.btn {
    display: block;
    text-decoration: none;
    background-color: var(--accent);
    color: #000;
    font-weight: 600;
    padding: 0.5rem 0.7rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.95;
}

.reset-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    padding: 0.5rem 0.7rem;
    border: 1px solid #ccc;
    margin: 0.5rem 0;
}

input:focus {
    outline: none;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.card {
    width: 240px;
    height: 336px;
    background-image: url("/assets/cards/cards.png");
}

.back {
    background-image: url("/assets/cards/cardback.webp");
}
