#navbar {
    top: 0;
    z-index: 1000;
    position: sticky;
    width: 100%;
    padding: 2rem 4rem;
    transition: background-color 0.3s;
    background-color: var(--background);
}

#navbar.at-top {
    background-color: var(--primary);
}

#nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

#nav-content .routes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav-content .routes > a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--accent);
    font-size: 1.25rem;
    font-weight: 600;
}

#nav-content .routes > a:hover {
    color: var(--primary);
}

#navbar .title {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

#navbar .btn {
    font-size: 1.25em;
}

#navPlayerHud {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.deposit {
    margin: 0 0.6rem;
    padding: 0.4rem 1rem;
    background-color: green;
    text-decoration: none;
    color: white;
}

#navPlayerHud > img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.viewProfile {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--accent);
    font-size: 0.8rem;
}

